.chartBG {
  margin-top: 0.7em !important;
  width: auto !important;
  height: 70% !important;
  background-color: #161b22;
  border: 1px solid #28313d;
  padding: 0.5em 1em;
  border-radius: 0.8em;
  margin: 0 1em 1em 1em;
  color: white !important;
}
