<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poultry Pen Monitoring</title>
</head>
<body>
    <div>
        <div class="container">
          <h1 class="display-4">Sensor Data Live </h1>
          <br>
          <br>
          <h3 class="Tem">Temperature <strong> {{temperature}} </strong> C </h3>
          <h3 class="Hum">Humidity <strong> {{humidity}} </strong> % </h3>
          <br>
          <br>
        </div>
      </div>
</body>
</html>