* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(240, 245, 255);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0.3em 0.5em;
    width: 100%;
    height: 2.5em;
    background-color: rgb(244, 247, 255);
    box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.1);
    color: darkblue;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
}

.mainContainer{
    width: 100%;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cameraContainer{
    width: 37em;
    height: 30em;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(244, 247, 255);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.1);
    border: 1px solid rgb(205, 205, 205);
}

.cameraContainer img{
    width: 100%;
    height: 100%;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    height: 73%;

}

.day h5{
    color: green;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.camera, .dht{
    margin-top: 0.8em;
}

.dht, .camera, .day{
    width: auto;
    height: auto;
    border-radius: 1em;
    padding: 1em;
    margin-left: 0.6em;
    background-color: rgb(244, 247, 255);
    border: 1px solid rgb(205, 205, 205);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.1);
}

.dht h5, .camera h5{
    color: darkblue;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.dht p, .camera p{
    font-weight: 700;
    margin-bottom: 0.3em;
}

.dht span, .camera span{
    font-weight: 600;
    color: red;
    margin-left: 0.3em;
}