.contentBG {
  width: 100%;
  height: 89.9vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .green {
    color: rgb(0, 222, 0);
  }
  .button1 {
    border: 0;
    background: rgb(5, 0, 82);
    background: linear-gradient(
      90deg,
      rgba(5, 0, 82, 1) 27%,
      rgba(152, 0, 0, 1) 87%
    );
  }
  .button2 {
    border: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 18%,
      rgba(78, 77, 77, 1) 62%,
      rgba(255, 255, 255, 1) 87%
    );
  }
  .button3 {
    border: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(176, 0, 0, 1) 50%,
      rgba(255, 253, 88, 1) 85%
    );
  }
  .button4 {
    border: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(16, 113, 0, 1) 62%,
      rgba(255, 255, 255, 1) 87%
    );
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em 1em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    p {
      width: auto;
      background-color: #161b22;
      border: 1px solid #28313d;
      padding: 0.5em;
      margin: 0.5em 0;
      border-radius: 0.8em;
      font-size: 0.75em;
      &:hover {
        cursor: pointer;
        border: 0;
        transform: scale(1.05);
      }
      &:first-child {
        margin-top: 1em;
      }
      &:nth-child(1):hover {
        background: rgb(5, 0, 82);
        background: linear-gradient(
          90deg,
          rgba(5, 0, 82, 1) 27%,
          rgba(152, 0, 0, 1) 87%
        );
      }
      &:nth-child(2):hover {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 18%,
          rgba(78, 77, 77, 1) 62%,
          rgba(255, 255, 255, 1) 87%
        );
      }
      &:nth-child(3):hover {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(176, 0, 0, 1) 50%,
          rgba(255, 253, 88, 1) 85%
        );
      }
      &:nth-child(4):hover {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(16, 113, 0, 1) 62%,
          rgba(255, 255, 255, 1) 87%
        );
      }
    }
  }
  .colorChangeMessage {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 0.8em;
    background-color: rgb(131, 0, 0);
    h1 {
      display: flex;
      align-items: center;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1em;
      background-color: red;
      border-radius: 0.6em 0.6em 0 0;
      padding: 0.5em 0;
      .warningIcon {
        margin: 0 0.3em 0 0.3em;
        font-size: 1.15em;
      }
    }
    p {
      padding: 0.5em 1em;
      font-size: 0.8em;
      color: white;
    }
  }
  .motorStatus {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3%;
    .infoContainer {
      background-color: rgba(0, 128, 0, 0.5);
      border: 1px solid green;
      border-radius: 0.8em;
      h1 {
        display: flex;
        align-items: center;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.2em;
        background-color: green;
        border-radius: 0.6em 0.6em 0 0;
        padding: 0.5em 0;
        .infoIcon {
          margin: 0 0.3em 0 0.2em;
          font-size: 1.3em;
        }
      }
      p {
        padding: 0.5em 1em;
        font-size: 1em;
        color: white;
      }
    }
  }
  .cameraImage {
    background-color: #161b22;
    border-radius: 0.8em;
    padding: 1em;
    border: 1px solid #28313d;
    img {
      border-radius: 0.3em;
      width: auto;
      height: 30em;
    }
  }

  .info,
  .sensors {
    height: 32.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    p {
      font-weight: lighter;
      letter-spacing: 1px;
    }
    span {
      font-weight: 700;
      font-size: 1.1em;
    }
    h1 {
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1.15em;
      margin-bottom: 0.5em;
    }

    .dayCount,
    .fan,
    .motor,
    .dhtSensor,
    .camSensor,
    .bulb,
    .averageTemp,
    .date {
      width: auto;
      background-color: #161b22;
      border: 1px solid #28313d;
      padding: 0.5em 1em;
      border-radius: 0.8em;
      margin: 0 1em 1em 1em;
    }

    .dayCount,
    .fan,
    .motor,
    .bulb {
      p {
        text-align: center;
      }
    }

    .dayCount {
      position: relative;
      .dayIcon {
        position: absolute;
        top: -15%;
        left: -15%;
        font-size: 1.5em;
      }
    }

    .fan {
      position: relative;
      .fanIcon {
        position: absolute;
        top: -15%;
        left: -15%;
        font-size: 1.5em;
      }

      @keyframes rotate360 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      .fanON {
        position: absolute;
        top: -15%;
        left: -15%;
        font-size: 1.5em;
        animation: rotate360 1s linear infinite;
        color: rgb(255, 42, 42);
      }
    }

    .motor {
      position: relative;

      .motorIcon {
        position: absolute;
        top: -15%;
        left: -13%;
        font-size: 1.5em;
      }

      @keyframes rotate360 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .motorONIcon {
        position: absolute;
        top: -15%;
        left: -13%;
        font-size: 1.5em;
        animation: rotate360 2s linear infinite;
        color: rgb(0, 222, 0);
        font-weight: bolder;
      }
    }

    .bulb {
      position: relative;
      margin-bottom: 0;
      .bulbIcon {
        position: absolute;
        top: -15%;
        left: -13%;
        font-size: 1.5em;
      }
      .bulbON {
        position: absolute;
        top: -15%;
        left: -13%;
        font-size: 1.5em;
        color: yellow;
      }
    }

    .averageTemp {
      position: relative;
      .avgTempIcon {
        position: absolute;
        top: -10%;
        right: -9%;
        font-size: 1.5em;
      }
    }

    .dhtSensor {
      position: relative;
      .dhtIcon {
        position: absolute;
        top: -10%;
        right: -8%;
        font-size: 1.6em;
      }
    }

    .camSensor {
      position: relative;
      .camIcon {
        position: absolute;
        top: -10%;
        right: -8%;
        font-size: 1.7em;
      }

      .populationIcon {
        position: absolute;
        top: -10%;
        right: -8%;
        font-size: 1.7em;
      }
    }
  }
}
